{% load i18n %}


{% if action.actor.get_absolute_url %}
	<a href="{{ action.actor.get_absolute_url }}">{{ action.actor }}</a>
{% else %}
	<a href="{{ action.actor_url }}">{{ action.actor }}</a>
{% endif %}

{{ action.verb }}

{% if action.action_object %}
    {% if action.action_object.get_absolute_url %}
    	<a href="{{ action.action_object.get_absolute_url }}">
    		{{ action.action_object|truncatechars:"30" }}
    	</a>
    {% else %}
    	<a href="{{ action.action_object_url }}">{{ action.action_object }}</a>
    {% endif %}
    in
{% endif %}

{% if action.target %}
    {% if action.target.get_absolute_url %}
    	<a href="{{ action.target.get_absolute_url }}">{{ action.target|truncatechars:"50" }}</a>
    {% else %}
    	<a href="{{ action.target_url }}">{{ action.target|truncatechars:"50" }}</a>
    {% endif %}
{% endif %}

<p><time datetime="{{ action.timestamp|date:"c" }}">{{ action.timestamp|timesince }} {% trans "ago" %}</time></p>
