{% load url from future %}

<div class="gallery-display">
	{% if projects %}
	<div class="gallery">
		<div id="slider" class="swipe">
		  <ul class="swipe-wrap"> 
		  	<li class="add">
				<a href="{% url 'project-create-edit' %}"><img src="http://placehold.it/250x200&amp;text=+ Add a project"></a>
			</li>
		  	{% for project in projects %}
		    <li>
		    	<a href="{% url 'project-detail' project.slug %}">
		    		<img src="http://placehold.it/300x250&amp;text=Project photo" alt="{{ project.title }}">
		    	</a>
		    </li>
		    {% endfor %}
		   
		  </ul>
		</div>
		<nav>
			<a onclick="mySwipe.prev()" id="prev" href="javascript:void(0)"><</a>
            <a onclick="mySwipe.next()" id="next" href="javascript:void(0)">></a>
		</nav>
	</div>
	<ul class="tiled">
		<li class="add">
			<a href="{% url 'project-create-edit' %}"><img src="http://placehold.it/250x200&amp;text=+ Add a project"></a>
		</li>
		{% for project in projects %}
		<li>
			<a href="{% url 'project-detail' project.slug %}">
				<img src="http://placehold.it/250x200&amp;text=Project photo" alt="{{ project.title }}">
			</a>
		</li>
		{% endfor %}
	</ul>
	{% else %}
	<div class="span12">
		<a href="{% url 'project-create-edit' %}"><img src="http://placehold.it/250x200&amp;text=+ Add a project"></a>
	</div>
	{% endif %}
</div>
