{% extends "base.html" %}
{% load i18n mezzanine_tags %}

{% block meta_title %}{{ title }}{% endblock %}
{% block title %}{{ title }}{% endblock %}
{% block body_id %}account{% endblock %}

{% block main %}
    <h2>{{ title }}</h2>
    <form class="registration" method="post"{% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>{% csrf_token %}
   	{% fields_for form %}
   	<input class="submit" type="submit" value="{{ title }}">
    </form>
{% endblock %}

{% block extra_js %}
<script>
	$(function() {
	    $('#id_use_gravatar').click(function() {
	      $('.input_id_avatar')[this.checked ? "hide" : "show"]();
	    });
	});
</script>
{% endblock %}
