{% extends "base.html" %}
{% load i18n future mezzanine_tags compress %}

{% block meta_title %}Dashboard{% endblock %}
{% block title %}Dashboard{% endblock %}
{% block body_id %}dashboard{% endblock %}

{% block main %}
<h1>Welcome {{ user.username }}!</h1>

<div class="row">
    <div class="activity span7">
        <h2>Recent Activity</h2>
        <ul>
            {% for action in actions|slice:":10" %}
                <li>{% include 'includes/account_action.html' %}</li>
            {% empty %}
            <p>
            {% trans "You are not following anyone yet." %}
            </p>
            {% endfor %}
        </ul>
    </div>
    <div class="projects span4 offset1">
        <h3><img src="{{ STATIC_URL }}img/razzy-head.png" width="35"> My Projects</h3>
        {% if user.projects.all %}
        <ul class="nav nav-tabs nav-stacked">
        {% with user.projects.all as projects %}
        {% for project in projects|slice:":10" %}
            <li><a href="{% url 'project-detail' project.slug %}">{{ project.title }}</a></li>
        {% endfor %}
        {% endwith %}
            <li><a href="{% url 'profile' user.username %}">View your profile &rarr;</a></li>
        </ul>
        {% else %}
        <a class="create" href="{% url 'project-create-edit' %}"><i class="icon-plus icon-white"></i> Create Project &rarr;</a>
        {% endif %}
    </div>
</div>
{% endblock %}

{% if user.projects.all %}
{% block extra_js %}
{% compress js %}
    <script src="{{ STATIC_URL }}js/update_relationship.js"></script>
    <script src="{{ STATIC_URL }}js/libs/swipe.js"></script>
    <script>

    $('#slider').Swipe();
    window.mySwipe = $('#slider').data('Swipe');

    </script>
{% endblock %}
{% endcompress %}
{% endif %}
