{% extends "base.html" %}
{% load i18n future mezzanine_tags %}

{% block meta_title %}{{ profile_user.username }} Dashboard{% endblock %}
{% block title %}{{ profile_user.username }} Dashboard{% endblock %}
{% block body_id %}account{% endblock %}
{% block body_class %}dashboard{% endblock %}

{% block main %}
<div class="row">
    <div class="span12">
        <h3>Dashboard</h3>
        <ul>
        {% for action in actions %}
            <li>{% include 'includes/account_action.html' %}</li>
        {% empty %}
        {% trans "No actions yet" %}
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
