{% extends "base.html" %}
{% load i18n future mezzanine_tags %}

{% block meta_title %}{{ profile_user.username }}{% endblock %}
{% block title %}{{ profile_user.username }}{% endblock %}
{% block body_id %}account{% endblock %}
{% block body_class %}profile{% endblock %}

{% block main %}
<div class="row">
    <div class="span12">
    <p><a class="{% if "following" in request.get_full_path %}active{% endif %}" href="{% url 'profile-related' username=request.user relation='following' %}"><span>Following</span></a></p>
    <p><a class="{% if "followers" in request.get_full_path %}active{% endif %}" href="{% url 'profile-related' username=request.user relation='followers' %}"><span>Followers</span></a></p>
    {% for user in related_users %}
        <div class="related-users">
            <a href="{{ user.get_absolute_url }}">
            <div class="related-user-info">
                <a href="{{ user.get_absolute_url }}">{{ user.username }}</a>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}

