{% extends "base.html" %}
{% load mezzanine_tags %}
{% load bootstrap_toolkit %}
{% load url from future %}
{% load i18n %}

{% block main %}
    <div class="row">
        <div class="span12">
            <h2>{{ title }}</h2>
            {% nevercache %}
                <form class="registration" method="post" accept-charset="utf-8" enctype="multipart/form-data">{% csrf_token %}
                    {{ form|as_bootstrap }}
                    <input class="submit" type="submit" value="{{ title }}" />
                </form>
            {% endnevercache %}
        </div>
    </div>
    <p>{% trans "Enter your username or email address and you'll receive an email with a link you need to click, in order to log in and change your password." %}</p>
{% endblock %}