{% extends "base.html" %}
{% load i18n mezzanine_tags compress %}
{% load bootstrap_toolkit %}

{% block meta_title %}{{ title }}{% endblock %}
{% block title %}{{ title }}{% endblock %}
{% block body_id %}account{% endblock %}

{% block main %}
<div class="row">
    <div class="span12">
        <h2>{{ title }}</h2>
        <form class="registration"  method="post" accept-charset="utf-8" enctype="multipart/form-data">{% csrf_token %}
            {{ form|as_bootstrap }}
            <div id="change_gravatar">
                <a href="http://gravatar.com" target="_blank">Change your gravatar image</a>
            </div>
            <input class="submit" type="submit" value="{{ title }}">
        </form>
    </div>
</div>
{% endblock %}

{% block extra_js %}
{% compress js %}
<script>
    $(function() {
        var $use_gravatar = $('#id_use_gravatar');

        var toggle_avatar;
        (toggle_avatar = function() {
            var use_gravatar = $use_gravatar[0].checked;
            $('label[for=id_avatar]')[use_gravatar ? "hide" : "show"]();
            $('#id_avatar').parent()[use_gravatar ? "hide" : "show"]();
            $('#change_gravatar')[use_gravatar ? "show" : "hide"]();
        })();

        $use_gravatar.click(toggle_avatar);
    });
</script>
{% endcompress %}
{% endblock %}
