{% extends "base.html" %}
{% load i18n future mezzanine_tags %}

{% block meta_title %}{{ profile_user.username }}{% endblock %}
{% block title %}{{ profile_user.username }}{% endblock %}
{% block body_id %}account{% endblock %}
{% block body_class %}profile{% endblock %}

{% block main %}
<div class="row">
	{% with profile_user.get_profile as profile %}
	<div class="avatar span2">
		{% if profile.use_gravatar %}
			<img src="{% gravatar_url profile_user.email 250 %}" />
		{% elif profile.avatar %}
			<img src="{{ MEDIA_URL }}{% thumbnail profile.avatar.url 250 250 %}" />
		{% else %}
			<img src="{{ STATIC_URL }}profile.png" />
		{% endif %}
	</div>
	<div class="userprofile span6">
		<h2>
			{{ profile_user.get_full_name }}
			{% include 'includes/relationship-status.html' %}
			<span>{{ profile_user.username }}</span>
		</h2>

		{% if profile.website or profile.twitter_id %}
		<ul>
			<li>
				<a href="{{ profile_user.get_profile.website }}">
					{{ profile_user.get_profile.website }}
				</a>
			</li>
			<li>
				<a href="http://twitter.com/{{ profile_user.get_profile.twitter_id }}">
					@{{ profile_user.get_profile.twitter_id }}
				</a>
			</li>
		</ul>
		{% endif %}
		{% if profile.bio %}<p>{{ profile.bio }}</p>{% endif %}
	</div>
	{% endwith %}
	<div class="stats span3">
		<h3>Stats</h3>
		<ul>
			<li><strong>Public projects:</strong> 1</li>
			<li><strong>Watched projects:</strong> </li>
			<li><strong>Followers:</strong> <a id="followers" href="{% url 'profile-related' username=profile_user relation='followers' %}">1</a></li>
			<li><strong>Following:</strong> <a id="following" href="{% url 'profile-related' username=profile_user relation='following' %}">1</a></li>
		</ul>
	</div>
</div>

<div class="row">
	{% with profile_user.projects.all as projects %}
	{% include 'includes/project-gallery.html' %}
	{% endwith %}
</div>
{% endblock %}


{% if projects %}
{% block extra_js %}
<script src="{{ STATIC_URL }}js/libs/swipe.min.js"></script>
<script src="{{ STATIC_URL }}js/update_relationship.js"></script>
<script type="text/javascript">
	$(function(){
		slider = new Swipe(document.getElementById('slider'), {
			slide: 600,
	    });
	});
</script>
{% endblock %}
{% endif %}
