{% extends "base.html" %}
{% load i18n future mezzanine_tags %}

{% block meta_title %}Site Users{% endblock %}
{% block title %}Site Users{% endblock %}
{% block body_id %}account{% endblock %}
{% block body_class %}user-listing{% endblock %}

{% block main %}
{% for user in users %}
<div class="row">
    <div class="span2">
        {% with user.get_profile as profile %}
        {% include 'includes/profile-picture.html' %}
        {% endwith %}
        <div class="user-info">
            <a href="{{ user.get_absolute_url }}">{{ user.username }}</a>
            {% include 'includes/relationship-status.html' with profile_user=user %}
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}

{% block extra_js %}
<script src="{{ STATIC_URL }}js/update_relationship.js"></script>
{% endblock %}
