<!DOCTYPE html>
{% load pages_tags mezzanine_tags sekizai_tags i18n future %}
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    {% block extra-meta %}{% endblock %}

    <title>{% block meta_title %}{% endblock %} {% block site_title %}{{ settings.SITE_TITLE }}{% endblock %}</title>

    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico">

    {% if debug %}
        <link rel="stylesheet/less" type="text/css" media="all" href="{{ STATIC_URL }}less/site.less">
        <script src="{{ STATIC_URL }}js/libs/less-1.3.0.min.js"></script>
    {% else %}
        {% compress css %}
            <link rel="stylesheet" type="text/less" media="all" href="{{ STATIC_URL }}less/site.less">
        {% endcompress %}
    {% endif %}

    {# FIXME: consolidate sekizai render_block needed for wiki with above css #}
    {% render_block "css" %}

    <!--[if lt IE 9]>
    <script src="{{ STATIC_URL }}js/html5shiv.js"></script>
    <![endif]-->

    <script src="{{ STATIC_URL }}js/libs/modernizr-2.5.3.js"></script>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38295988-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

</head>

<body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}">

<div id="page">
    {% block global_nav %}
    <nav id="global-nav">
        <div class="container">
            <a class="brand" href="/">{{ settings.SITE_TITLE }}</a>
            <div class="right-block">
                <ul class="nav">
                    {% if user.is_authenticated %}
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">My Profile<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'profile-dashboard' %}">Dashboard</a></li>
                            <li><a href="{% url 'profile' user.username %}">View Profile</a></li>
                            <li><a href="{% url 'profile_update' %}">Edit Profile</a></li>
                            <li><a href="{% url 'project-create-edit' %}">Create Project</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'logout' %}">Log Out</a></li>
                    {% else %}
                    <li><a href="{% url 'login' %}">Log In</a></li>
                    {% endif %}
                </ul>
                <form class="navbar-search">
                   <input type="text" class="search-query" placeholder="Search">
                </form>
            </div>
        </div>
    </nav>
    {% endblock %}

    {% if page.title %}
    <header>
    {% block header %}
        <div class="container">
            {% nevercache %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" data-alert="alert">
                <a class="close" href="#" onclick="$(this).parent().fadeOut('fast'); return false;">×</a>{{ message }}
            </div>
            {% endfor %}
            {% endnevercache %}
            <h1>{% block title %}{% endblock %}</h1>
        </div>
    {% endblock %}
    </header>
    {% endif %}

    {% block content %}
        <div class="container">
            <div id="content">
            {% block main %}{% endblock %}
            </div>
        </div>
        {% block full_container %}{% endblock %}
    {% endblock %}

    <div id="push"></div>

    {% block navbar %}
    <div class="navbar navbar-fixed-bottom">
        <div class="navbar-inner">
            <div class="container">
                <ul class="nav">
                    <li class="create"><a href="{% url 'project-create-edit' %}">Create</a></li>
                    <li class="explore"><a href="{% url 'project-list' %}">Explore</a></li>
                    <li class="about">
                        <div class="tabWrapper">
                            <a class="tab" href="#">
                                <img src="http://placehold.it/50x60" alt="About Raspberry IO">
                            </a>
                            <div class="tabContent">
                                <h4>About Raspberry I/O</h4>
                                This is where there will be text that talks about what Raspberry IO is about, what it's focus is and what the goals are.
                            </div>
                        </div>
                    </li>
                    <li class="learn"><a href="{% url 'wiki:root' %}">Learn</a></li>
                    {# Link below goes to forums and contests #}
                    <li class="community"><a href="{% url 'community-index' %}">Community</a></li>
                </ul>
            </div>
        </div>
        <footer>
            {% block footer %}
            &copy;{% now "Y" %} <a href="http://www.python.org/psf/">Python Software Foundation</a>
            {% page_menu "pages/menus/dropdown.html" %}
            {% endblock %}
        </footer>
    </div>
    {% endblock %}


    <script src="//code.jquery.com/jquery-1.8.3.min.js"></script>
    {% include "includes/footer_scripts.html" %}

    <script src="{{ STATIC_URL }}js/libs/bootstrap.min.js"></script>

    {% compress js %}
    <script src="{{ STATIC_URL }}js/site.js"></script>
    {% endcompress %}

    {% block extra_js %}{% endblock %}
    {% render_block "js" %}
</body>
</html>
