<!DOCTYPE html>
{% load pages_tags mezzanine_tags i18n future %}
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    {% block extra-meta %}{% endblock %}

    <title>{% block meta_title %}{% endblock %} {% block site_title %}{{ settings.SITE_TITLE }}{% endblock %}</title>

    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico">

    {% if debug %}
        <link rel="stylesheet/less" type="text/css" media="all" href="{{ STATIC_URL }}less/site.less">
        <script src="{{ STATIC_URL }}js/libs/less-1.3.0.min.js"></script>
    {% else %}
        {% compress css %}
            <link rel="stylesheet" type="text/less" media="all" href="{{ STATIC_URL }}less/site.less">
        {% endcompress %}
    {% endif %}

    <!--[if lt IE 9]>
    <script src="{{ STATIC_URL }}js/html5shiv.js"></script>
    <![endif]-->

    <script src="{{ STATIC_URL }}js/libs/modernizr-2.5.3.js"></script>

    {# This is where Google Analytics can go. #}

</head>

<body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}">

<div id="page">
    {% block global_nav %}
    <nav id="global-nav">
        <div class="container">
            <a class="brand" href="/">{{ settings.SITE_TITLE }}</a>
            <div class="right-block">
                {% if user.is_authenticated %}
                <a href="{% url 'profile' user.username %}">My Profile</a>
                <a href="{% url 'logout' %}">Log Out</a>
                {% else %}
                <a href="{% url 'login' %}">Log In</a>
                {% endif %}
                <form class="navbar-search">
                    <input type="text" class="search-query" placeholder="Search">
                </form>
            </div>
        </div>
    </nav>
    {% endblock %}

    {% if page.title %}
    <header>
    {% block header %}
        <div class="container">
            {% nevercache %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" data-alert="alert">
                <a class="close" href="#" onclick="$(this).parent().fadeOut('fast'); return false;">×</a>{{ message }}
            </div>
            {% endfor %}
            {% endnevercache %}
            <h1>{% block title %}{% endblock %}</h1>
        </div>  
    {% endblock %}    
    </header>
    {% endif %}

    {% block content %}
        <div class="container">
            <div id="content">
            {% block main %}{% endblock %}
            </div>
        </div>
    {% endblock %}

    <div id="push"></div>

    {% block navbar %}
    <div class="navbar navbar-fixed-bottom">
        <div class="navbar-inner">
            <div class="container">
                <ul class="nav">
                    {% if user.is_authenticated %}
                    {# Below goes to form to add a project. #}
                    <li><a href="#">Create</a></li>
                    {% endif %}
                    <li><a href="#">Explore</a></li>
                    <li><a href="#">Learn</a></li>
                    {% comment %}
                    <li><a href="#">Contests</a></li>
                    {% endcomment %}
                </ul>
            </div>
        </div> 
        <footer>
            {% block footer %}
            &copy;{% now "Y" %} <a href="http://www.python.org/psf/">Python Software Foundation</a>
            {% page_menu "pages/menus/dropdown.html" %}
            {% endblock %}
        </footer>
    </div>
    {% endblock %}


    <script src="//code.jquery.com/jquery-1.8.3.min.js"></script>
    {% include "includes/footer_scripts.html" %}

    <script src="{{ STATIC_URL }}js/libs/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/libs/jquery.fittext.js"></script>


    {% compress js %}
    <script src="{{ STATIC_URL }}js/site.js"></script>
    {% endcompress %}
   
    {% block extra-js %}{% endblock %}

</body>
</html>