{% extends "base.html" %}
{% load future %}

{% block site_title %}Raspberry I/O{% endblock %}

{% block body_id %}homepage{% endblock %}

{% block content %}
<header>
  <hgroup class="container">
    <h1>Welcome to Raspberry I/O!</h1>
    <p>This is a place for learning, sharing and creating your Raspberry Pi project.</p>
    {# This form should post the user name to the registration form on submit. #}
    <form class="form-search">
    	<div class="input-append">
    		<input type="text" class="search-query">
    		<button type="submit" class="btn">Sign Up</button>
    	</div>
    </form>
  </hgroup>
</header>

<div id="featured">
	<div class="info container">
		<h2>Featured Project name</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
	</div>
</div>

<div id="jumbo-search" >
	<form class="form-search">
    	<input type="text" placeholder="Search" class="search-query">
    	<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
	</form>
</div>

<div id="push"></div>

{% endblock %}
