{% extends "base.html" %}
{% load i18n mezzanine_tags %}

{% block meta_title %}{{ title }}{% endblock %}
{% block title %}{{ title }}{% endblock %}
{% block body_id %}community{% endblock %}

{% block main %}
<h1>Community</h1>

<h2 class="deck">Really delete {{ feed }}?</h2>

<p>
  All items in the aggregator will be deleted, too. Because Jacob's
  lazy, there's no "undo"!
</p>

<form class="wide" action="." method="post">
  {% csrf_token %}
  <p class="submit"><input type="submit" value="Yes, delete the feed."></p>
</form>
{% endblock %}
