{% extends "base.html" %}
{% load i18n mezzanine_tags %}

{% block meta_title %}Community{% endblock %}
{% block title %}Community{% endblock %}
{% block body_id %}community{% endblock %}

{% block main %}
    <h3>Community: really delete {{ feed }}?</h3>

    <div class="alert">All items in the aggregator will be deleted, too.</div>

    <form action="." method="post">
      {% csrf_token %}
      <p class="submit"><input type="submit" value="Yes, delete the feed."></p>
    </form>
{% endblock %}
