{% extends "base.html" %}
{% load i18n mezzanine_tags %}

{% block meta_title %}{{ title }}{% endblock %}
{% block title %}{{ title }}{% endblock %}
{% block body_id %}community{% endblock %}

{% block main %}

  <h3>Community</h3>
  <div class="alert alert-info">
    This page, updated regularly, aggregates what's going on in the community.
  </div>

  {% for feedtype in feedtype_list %}
  <div id="{{ feedtype.slug }}" class="module {% cycle "first" "last" %}">
    <h4 class="header">
      {{ feedtype.name }}
      <a class="rss" href="{% url aggregator-feed slug=feedtype.slug %}">RSS</a>
    </h4>
    {% for item in feedtype.items|slice:":5" %}
      <div class="well">
        <h5><a href="{{ item.link }}">{{ item.title }}</a></h5>
        <p class="date">{{ item.date_modified|date:"N jS, Y \a\t P" }} by <a href="{{ item.feed.public_url }}">{{ item.feed.title }}</a></p>
      </div>
    {% endfor %}
    <p>
      {% if feedtype.items|length %}
        <a href="{% url community-feed-list feedtype.slug %}">View more</a>
      {% endif %}
      {% if feedtype.items and feedtype.can_self_add %}
        or
      {% endif %}
      {% if feedtype.can_self_add %}
        <a href="{% url community-add-feed feedtype.slug %}">Add your feed</a>
      {% endif %}</p>
  </div>
  {% endfor %}
{% endblock %}
