{% extends "base.html" %}
{% load url from future %}
{% load bootstrap_toolkit %}

{% block body_id %}project-create-edit{% endblock %}

{% block main %}
<h2>Create your project</h2>
<form class="project-create-edit-form" action="" method="post" accept-charset="utf-8" enctype="multipart/form-data"> 
    {% csrf_token %}
    {{ project_form|as_bootstrap }}
    {{ project_form.media }}
    <input type="submit" name="save" value="Save {% if not project.is_published%}&amp; preview{% endif %}" />
        {% if not project.id %}
            <input type="submit" name="save-add-step" value="Save &amp; add project steps" />
        {% endif %}
    <input type="button" class="cancel" name="cancel" value="Cancel" onclick="history.go(-1);" />
</form>

{% if project.id %}
    {% for step in project.steps.all %}
        <a href="{% url 'project-step-create-edit' project.slug step.order %}">
            Edit step {{ step.order|add:"1" }} - {{ step.title }}
        </a>
        <br>
    {% endfor %}
    {% if project.steps.count < 20 %}
    <a href="{% url 'project-step-create-edit' project.slug %}">
        Create a new project step
    </a>
    {% endif %}
{% endif %}
{% endblock %}
