{% extends "base.html" %}
{% load url from future %}
{% load cache %}

{% block body_id %}project-list{% endblock %}

{% block main %}
    {% cache 120 project-list request.user.is_staff page_obj %}
        <form action="{% url 'search' %}" class="search form-search">
            <input name='q' type="text" class="search-query" placeholder="Find projects">
            <input type="hidden" name='type' value="project.project">
        </form>

        {% if is_paginated %}
            <div class="pagination pagination-large">
                <ul>
                    {% if page_obj.has_previous %}
                        <li><a href="?page={{ page_obj.previous_page_number }}">&larr; Prev</a></li>
                    {% endif %}
                    {% for page_num in page_obj.paginator.page_range %}
                        <li>
                            <a href="?page={{ page_num }}">{{ page_num }}</a>
                        </li>
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li><a href="?page={{ page_obj.next_page_number }}">More &rarr;</a></li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}

        <div class="row">
            {% include 'includes/project-gallery.html' with projects=object_list %}
    	</div> 

        {% if is_paginated %}
            <div class="pagination pagination-large">
                <ul>
                    {% if page_obj.has_previous %}
                        <li><a href="?page={{ page_obj.previous_page_number }}">&larr; Prev</a></li>
                    {% endif %}
                    {% for page_num in page_obj.paginator.page_range %}
                        <li>
                            <a href="?page={{ page_num }}">{{ page_num }}</a>
                        </li>
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li><a href="?page={{ page_obj.next_page_number }}">More &rarr;</a></li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}

    {% endcache %}
{% endblock main %}

{% block extra_js %}
    <script src="{{ STATIC_URL }}js/libs/swipe.js"></script>
    <script>

    $('#slider').Swipe();
    window.mySwipe = $('#slider').data('Swipe');

    </script>
{% endblock %}
