{% extends "base.html" %}
{% load url from future %}

{% block main %}
    <h2>
        {{ project.title }}
    </h2>
    Categories
    <ul>
        {% for category in project.categories.all %}
            <li class="category">
                {{ category.title }}
            </li>
        {% endfor %}
    </ul>
    {{ project.tldr }}
    {% for step in project.steps.all %}
        {# TODO: Actually embed the video link into a player #}
        {% if step.video %}
            {{ step.video }}
        {% endif %}
        {# TODO: Show the gallery with a nice slideshow "widget" #}
        {% if step.gallery %}
            {{ step.gallery }}
        {% endif %}
        {# FIXME: Determine the whitelist of html tags and assure this won't break the page #}
        {{ step.content|safe }}
    {% endfor %}
    {% if request.user == project.user or request.user.is_superuser %}
        <a href="{% url 'project-create-edit' project.slug %}">Edit Project</a>
    {% endif %}
{% endblock %}
