{% extends "base.html" %}
{% load url from future %}

{% block body_id %}project-list{% endblock %}

{% block main %}
	<form class="search form-search">{% csrf_token %}
    	<input type="text" class="search-query" placeholder="Find projects">
    </form>

    <div class="row">
	{% include 'includes/project-gallery.html' %}
	</div>	
{% endblock %}

{% block extra_js %}
<script src="{{ STATIC_URL }}js/libs/swipe.min.js"></script>
<script type="text/javascript">
	$(function(){
		slider = new Swipe(document.getElementById('slider'), {
			slide: 600,
	    });
	});
</script>
{% endblock %}