{% extends "base.html" %}
{% load url from future %}

{% block main %}
    {% if not project.is_published %}
        {% if request.user == project.user %}
            <div id='publish'>
                <h2>This project is saved as a draft.</h2>
                <a id='publish-project' href="#">Click here to publish</a>
            </div>
        {% endif %}
    {% endif %}
    <h3>
        {{ project.title }}
    </h3>
    Categories
    <ul>
        {% for category in project.categories.all %}
            <li class="category">
                {{ category.title }}
            </li>
        {% endfor %}
    </ul>
    {{ project.tldr }}
    {% for step in project.steps.all %}
        {# TODO: Actually embed the video link into a player #}
        {% if step.video %}
            {{ step.video }}
        {% endif %}
        {# TODO: Show the gallery with a nice slideshow "widget" #}
        {% if step.gallery %}
            {{ step.gallery }}
        {% endif %}
        {# FIXME: Determine the whitelist of html tags and assure this won't break the page #}
        {{ step.content|safe }}
    {% endfor %}
    {% if request.user == project.user or request.user.is_superuser %}
        <a href="{% url 'project-create-edit' project.slug %}">Edit Project</a>
    {% endif %}
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        var publish_project_url = "{% url 'publish-project' project.slug %}"
        $(function() {
            var $publish_project = $('#publish-project'),
                $publish = $('#publish');
            $publish_project.click(function(){
                $.post(publish_project_url, function(data) {
                    $publish.fadeOut();
                });
            });
        });
    </script>
{% endblock %}
