{% extends "base.html" %}
{% load url from future %}
{% load cache %}

{% block body_id %}project-list{% endblock %}

{% block main %}
    {% cache 120 project-list request.user.is_staff page_obj %}
        <form action="{% url 'search' %}" class="search form-search">
            <input name='q' type="text" class="search-query" placeholder="Find projects">
            <input type="hidden" name='type' value="project.project">
        </form>

        {% if is_paginated %}
            {% include "includes/pagination.html" %}
        {% endif %}

        <div class="row">
            {% include 'includes/project-gallery.html' with projects=object_list %}
    	</div>

        {% if is_paginated %}
            {% include "includes/pagination.html" %}
        {% endif %}

    {% endcache %}
{% endblock main %}

{% block extra_js %}
    <script src="{{ STATIC_URL }}js/libs/swipe.js"></script>
    <script>

    $('#slider').Swipe();
    window.mySwipe = $('#slider').data('Swipe');

    </script>
{% endblock %}
